@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap");
:root {
  /* --ff-open-sans: "Kanit", sans-serif; */
  --ff-open-sans: "Plus Jakarta Sans", sans-serif;
}

html,
body {
  height: 100%;
}

.ssl {
  width: 100px;
}

body {
  font-family: var(--ff-open-sans);
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background: url("/assets/images/bg.jpg");
  backdrop-filter: blur(10px);
  background-attachment: fixed;
  background-size: cover;
}

.form-signin {
  color: #000;
  max-width: 380px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  font-size: 15px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
